<div class="container col-md-6 col-md-offset-4">
<%= render 'shared/header', header: "Create a new Status" %>
  <div class="row">
  <%= render 'shared/errors', obj: @status %>

  <% if current_user %>
  	<%= form_for @status, html: {class: 'form-horizontal', role: 'form'} do |f| %>

      <div class="form-group">
    		<%= f.label :body, class: "control-label col-sm-2" %>
        <div class="col-md-6">
    		  <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
  		<br/>

      <div class="form-group col-md-offset-6">
  		  <%= f.submit "Create Status", class: "btn btn-primary" %>
      </div>
  	<% end %>
  <% end %>
</div>
</div>
